# =========================================
# Virtual Environments
# =========================================

venv/
langchain_env/


# =========================================
# Environment Variables
# =========================================

.env


# =========================================
# Python Cache
# =========================================

__pycache__/
*.pyc


# =========================================
# VS Code
# =========================================

.vscode/


# =========================================
# Jupyter
# =========================================

.ipynb_checkpoints/


# =========================================
# OS Files
# =========================================

.DS_Store
Thumbs.db